body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 0px;
  border-width: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
}

header {
  text-align: center;
  color: white;
  background-color: #6494aa;
}

footer {
  background-color: #6494aa;
  text-align: center;
  color: white;
}

aside {
  width: 30%;
  margin-top: 10px;
  padding-left: 10px;
  margin-left: 10rem;
  float: right;
  box-shadow: inset 5px 0px 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}

nav {
  width: 20%;
  color: white;
  background-color: #6494AA;
}

.list-menu li {
  font-size: 20px;
  display: inline-flex;
}

.menu-div {}

.menu-item {}

li a {
  color: white;
  padding: 12px 12px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

ul {
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #333;
}

#menu-heading {
  text-align: center;
  padding-top: 15px;
}